  {% extends 'layout.html.twig' %}

  {% block current_page %} | Index page {% endblock %}

  {% block content %}
    <h1> <span class="page-title"> Main page Teacher </span></h1>
    {# This is variable#}

    {#Foreach structure#}

    {% for item in departement   %}
      <li>{{item}}</li>
    {% endfor %}  

    {#If condition#}

    {% if teacher_connected == TRUE %}
      <p>Hello Teacher {{ name|upper }}, you are now connected </p>

    {% else %}

    <p> {{ 'Access is not allowed'|upper }} {{"now"|date("d/m/Y")}} </p>  

    {% endif %}

    <form>
      {{ include('form_personal_data.html.twig')}}
    </form>
  {% endblock %} 